
// 评论区颜色重置
.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) 或 ( ⌃ + ⌘ + ␣ ) 打开表情'
      color: #999
      font-size: .8rem
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important


// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;

// 导航栏
 .navbar
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
  background: rgba(0, 0, 0, 0);
  .sidebar-button
    background-color: var(--blurBg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;

  @media (max-width $MQMobile)
    .sidebar-button
      background-color: transparent;
      box-shadow: none;
    
// 首页大图
.home-wrapper .banner 
  margin-top: 0 !important;
  height: 100vh !important;
  min-height: 500px !important;
  width:100% !important;
  transition: width, height .5s ease;

.home-wrapper .banner .banner-conent
  top: 50%;
  transform: translateY(-50%);
 .hero
    position: relative;
    margin-top: 0 !important;
    height: 200px;
    .anchor-down
      bottom: 35px !important;
      bottom: 20% !important;

// 首页头像
.home-wrapper .blogger-wrapper .avatar
    height:235px;
    img
      object-fit:cover;

.footer
  color: #b8b8b8 !important;
